# Homework 01
---
[mlbookcamp 01-intro](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/01-intro/homework.md)

## Question 1
What's the version of NumPy that you installed?

In [1]:
import numpy as np
np.__version__

'1.22.3'

### Downloading data

In [3]:
import os.path as osp

DIRPATH="./data/"
FILENAME = "car-prices.csv"
DATAPATH = osp.join(DIRPATH, FILENAME)

In [4]:
! ./downloading_data.sh -d $DIRPATH -f $FILENAME https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

Downloading data from https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv to ./data//car-prices.csv
--2022-10-04 16:48:22--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolvendo raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8000::154, 2606:50c0:8002::154, ...
Conectando-se a raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Tamanho: 1475504 (1,4M) [text/plain]
Salvando em: “./data//car-prices.csv”

./data//car-prices. 100%[===================>]   1,41M  --.-KB/s    em 0,1s

2022-10-04 16:48:23 (9,66 MB/s) - “./data//car-prices.csv” salvo [1475504/1475504]

## Question 2
How many records are in the dataset?

Here you need to specify the number of rows.
- 16
- 6572
- 11914
- 18990

In [8]:
import pandas as pd

data = pd.read_csv(DATAPATH)
data.shape[0]

11914

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

- Chevrolet, Volkswagen, Toyota
- Chevrolet, Ford, Toyota
- Ford, Volkswagen, Toyota
- Chevrolet, Ford, Volkswagen

### Resolution

In [11]:
data.Make.value_counts().iloc[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

- 3
- 16
- 26
- 34

In [15]:
data.loc[data.Make == 'Audi', 'Model'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

- 5
- 6
- 7
- 8

In [17]:
(data.isna().sum() > 0).sum()

5

## Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.
  
Has it changed?

- Yes
- No

In [23]:
engine_median = data['Engine Cylinders'].median()
most_frequent = data['Engine Cylinders'].mode().values[0]

In [26]:
engine_imputed_data = data['Engine Cylinders'].fillna(most_frequent)
imputed_median = engine_imputed_data.median()

In [27]:
engine_median, imputed_median

(6.0, 6.0)

## Questions 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Compute the inverse of XTX.
7. Create an array y with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?
> Note: You just implemented linear regression. We'll talk about it in the next lesson.

- -0.0723
- 4.5949
- 31.6537
- 63.5643

In [41]:
X = data.loc[data.Make == 'Lotus', ['Engine HP', 'Engine Cylinders']].drop_duplicates().values
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

In [40]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [44]:
w = XTX_inv @ X.T @ y
w[0]

4.594944810094551